machine:
  kubelet:
    credentialProviderConfig:
      apiVersion: kubelet.config.k8s.io/v1
      kind: CredentialProviderConfig
      providers:
        - name: ecr-credential-provider
          matchImages:
            {{ ecr_credential_provider.accounts | map('regex_replace', '$', '.dkr.ecr.*.amazonaws.com') | list | to_nice_yaml(indent=2) | indent(12) }}
          defaultCacheDuration: 12h
          apiVersion: credentialprovider.kubelet.k8s.io/v1
          env:
            - name: AWS_ACCESS_KEY_ID
              value: "{{ ecr_credential_provider.access_key }}"
            - name: AWS_SECRET_ACCESS_KEY
              value: "{{ ecr_credential_provider.secret_key }}"
